.highlevelStep {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.instructions {
}

#dialer {
}

.surveyQuestion {
  margin-bottom: 1.5em;
  padding-left: 0.75em;
  padding-bottom: 0.25em;
  border-left: 1em solid #ccc;
}

.yousay::before {
  content: "“";
}
.yousay::after {
  content: "”";
}

.yousay {
  font-weight: bold;
  padding-bottom: 0.5em;
}

.hidden {
  display: none;
}

#vaccinatingPublicScript {
}

#reallyVaccinatingEveryone {
  margin-top: 1em;
}

#callScriptPrivateNotes {
  background-color: #ffffee;
}

#toastContainer {
  z-index: 9999;
}
