.instructions {
}

#dialer {
	padding-top: 2em;
	padding-bottom: 2em;
}

.surveyQuestion {
	margin-bottom: 1.5em;
 	padding-left: 0.75em;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
	border-left: 1em solid #ccc;
}

.yousay::before {
	content: '“';
}
.yousay::after {
	content: '”';
}

.yousay {
	font-weight: bold;
	padding-bottom: 0.5em;	
}

.hidden {
	display: none;

}

#vaccinatingPublicScript {
}

#reallyVaccinatingEveryone {
	margin-top: 1em;
}

#callScriptPrivateNotes {
	background-color: #ffffee;
}
