.navbar {
    height: 84px;
}
#left-col {
    position: sticky;
    top: 84px;
    height: calc(100vh - 84px);
}

#keybindingsHint {
    display: none;
}

@media (min-width: 800px) {
    #keybindingsHint {
        display: block;
    }
}

#actions {
    z-index: 1000;
}

#locationMatchCandidates {
    margin-bottom: 100px;
}
.candidateContainer {
    max-width: 1280px;
    margin: auto;
}