.navbar {
    height: 84px;
}
#left-col {
    position: sticky;
    top: 84px;
    height: calc(100vh - 84px);
}

#keybindings-hint {
    display: none;
}

@media (min-width: 768px) {
    #keybindings-hint {
        display: block;
    }
}
.candidateContainer {
    min-height: 300px;
    max-width: 1280px;
    margin: auto;
}