<div class="container w-100 vh-100 d-flex flex-wrap align-content-center">
  <div class="row w-100">
    <div class="hidden">
      (This stuff depends on features in the function API we don't have yet)

      <h1 class="text-xl font-bold leading-tight text-gray-900"> You've made 123 calls. 23 of them were today. </h1>
      <h2>
        You've found 12 places with vaccines, 10 places with no vaccines and 88 places nobody ever has to call again.
      </h2>
    </div>
    <div class="h3">Thank you so much for making calls with us.</div>
    <div class="h3 text-muted mt-1"> Every call helps save lives! </div>
    <div class="d-grid gap-2 mt-6">
      <button type="button" id="requestCallButton" class="btn btn-success btn-block btn-lg">
        Let's get calling!
      </button>
    </div>
  </div>
</div>
