<div class="provider walmart">
Press 1 to go directly to the pharmacy.	
</div>
<div class="provider cvs safeway riteaid ralphs savon lucky target">
<ul>
<li> You are about to call a CVS! Follow these steps to get to a human pharmacist:
<li> System will introduce the store. _Wait patiently_.
<li> System might play an announcement which says "CVS doesn't have the vaccine". _Ignore this and wait patiently_.
<li> System says: "Tell me what you are calling about". **You press '1' or say "pharmacy"**
<li> **Press '7'** to "speak with pharmacy"
<li> System says: "say or enter patient's date of birth". **You say: "no thanks"**
<li> _Wait for a human._
</ul>

<div>
If the CVS is in a Target and the number's for Target, you can press '3' for the pharmacy.
</div>
</div>

<div class="provider none--unknown--unimportant">
</div>
<div class="provider vons">
<ul>
<li> Press 1 to go to the pharmacy, then
<li> Press 3 to to talk to a pharmacist
</ul>
</div>
