<div class="small">
  <div
    class="provider walmart"
    data-scheduling-url="https://www.walmart.com/covid"
    >Press 0 to go directly to the pharmacy.</div
  >
  <div class="provider safeway vons" data-scheduling-url="https://www.mhealthappointments.com/covidappt">
    <ul>
      <li>System will begin playing menu options.</li>
      <li>Press '4' to get to the pharmacy (usually)</li>
      <li>If you get the wrong department, hang up and call back</li>
      <li>System might play an announcement about vaccine availability</li>
      <li>Ignore this message and wait for a human.</li>
    </ul>
  </div>
  <div class="provider riteaid" data-scheduling-url="http://ritea.id/covid-19">
    <ul>
      <li>The recording will say they can't answer vaccine-related questions.</li>
      <li>Ignore it</li>
      <li>Press 3 to be transferred to the pharmacy</li>
    </ul>
  </div>
  <div class="provider ralphs" data-scheduling-url="https://www.ralphs.com/i/coronavirus-update/vaccine">
    <ul>
      <li>Press 0 to talk to a human.</li>
    </ul>
  </div>
  <div class="provider savon" data-scheduling-url="https://www.mhealthappointments.com/covidappt">
    <ul>
      <li>Press 4 to talk to a pharmacist.</li>
    </ul>
  </div>
  <div class="provider lucky" data-scheduling-url="https://savemartluckysched.rxtouch.com/smsched/program/covid19/Patient/Advisory">
    <ul>
      <li>Press 1 to go to the pharmacy</li>
      <li>Press 3 to to talk to a pharmacist</li>
    </ul>
  </div>
  <div class="provider walgreens" data-scheduling-url="https://www.walgreens.com/findcare/vaccination/covid-19">
    <ul>
      <li>Wait until the message starts listing choices. Remain on the line, or press 2 to get to the next step.</li>
      <li>Say "pharmacist"</li>
      <li>Say "help me with something else"</li>
      <li>Wait for pharmacist</li>
    </ul>
  </div>
  <div class="provider cvs target" data-scheduling-url="https://www.cvs.com/immunizations/covid-19-vaccine">
    <ul>
      <li>System will say "Calling CVS Pharmacy", then press 3 for pharmacy</li>
      <li>Once announcement starts again, press 1.</li>
      <li>When you hear "Tell me what you are calling about", press 1 and then 7 to speak with pharmacy</li>
      <li>System says: "say or enter patient's date of birth".</li>
      <li>Say: "no thanks"</li>
      <li>Wait for a human.</li>
    </ul>

    <div> If the CVS is in a Target and the number's for Target, you can press '3' for the pharmacy. </div>
  </div>

  <div class="provider savemart" data-scheduling-url="https://savemartluckysched.rxtouch.com/smsched/program/covid19/Patient/Advisory"></div>
  <div class="provider costco" data-scheduling-url="https://www.costco.com/covid-vaccine.html"></div>

  <div class="provider none--unknown--unimportant"></div>
</div>
