<form>
location <input id="report_LocationId" value="{{LocationId}}" /> <br/>
<br/>
Phone appointments <input type="checkbox" id="Appointments by phone?">
<input type="text" id="report_Phone"/>
<br/>
Notes: <textarea id="report_Notes">
</textarea>
				
<br/>

Availability:
<select id="report_Availability" multiple=1>
<option>No: will never be a vaccination site</option>
<option>No: not open to the public</option>
<option>Yes: appointment required</option>
<option>Yes: walk-ins accepted</option>
<option>No: no vaccine inventory</option>
<option>No: only vaccinating health care workers</option>
<option>Yes: vaccinating 75+</option>
<option>Yes: vaccinating 65+</option>
<option>Yes: restricted to county residents</option>
<option>No: incorrect contact information</option>
<option>No: location permanently closed</option>
<option>Skip: call back later</option>
<option>Yes: must be a current patient</option>
<option>Yes: must be a veteran</option>
<option>Yes: vaccinating 85+</option>
<option>Yes: appointment calendar currently full</option>
<option>No: only vaccinating staff</option>
<option>Yes: coming soon</option>
<option>Yes: vaccinating 80+</option>
</select>

<br/>
Internal notes:
<textarea id="report_InternalNotes">
					
</textarea>
<br/>

Demand notes:
<textarea id="report_Vaccine Demand Notes">
					
</textarea>

<br/>
Scheduling instructions
<textarea id="report_Appointment scheduling instructions"></textarea>
<br/>
Demand <select id="report_Vaccine Demand">
    "Yes, lots",
    "Yes, some",
    "No, very little",
    "Not sure"
</select>


<input type=button id="scoobyRecordCall" value="Send report" />
</form>
