<form>
location <input name="report.LocationId" value="" /> <br/>

<input type="checkbox" name="Appointments by phone?"
<textarea name="report.Notes">
</textarea>
				

<select name="report.Availability" multiple=1>
<option>"No: will never be a vaccination site"</option>
<option>"No: not open to the public"</option>
<option>"Yes: appointment required"</option>
<option>"Yes: walk-ins accepted"</option>
<option>"No: no vaccine inventory"</option>
<option>"No: only vaccinating health care workers"</option>
<option>"Yes: vaccinating 75+"</option>
<option>"Yes: vaccinating 65+"</option>
<option>"Yes: restricted to county residents"</option>
<option>"No: incorrect contact information"</option>
<option>"No: location permanently closed"</option>
<option>"Skip: call back later"</option>
<option>"Yes: must be a current patient"</option>
<option>"Yes: must be a veteran"</option>
<option>"Yes: vaccinating 85+"</option>
<option>"Yes: appointment calendar currently full"</option>
<option>"No: only vaccinating staff"</option>
<option>"Yes: coming soon"</option>
<option>"Yes: vaccinating 80+"</option>
</select>

<textarea name="report.Internal Notes">
					
</textarea>
<textarea name="report.Vaccine Demand Notes">
					
</textarea>
<textarea name="report.Appointment scheduling instructions"></textarea>
<select name="report.Vaccine Demand">
    "Yes, lots",
    "Yes, some",
    "No, very little",
    "Not sure"
</select>
</form>
