<div {{#if displayCallerStats}} class="text-success" {{else}} class="text-success invisible" {{/if}}>
    <span>You've made <strong>{{callsToday}}</strong> calls today and <strong>{{callsTotal}}</strong> calls total.</span>
</div>
