<div {{#if displayCallerStats}} class="text-success" {{else}} class="text-success invisible" {{/if}}>
    <span>You've made <strong>{{callsToday}}</strong> calls today and <strong>{{callsThisWeek}}</strong> calls in the past week.</span>
</div>
