<div class="instructions">Your goal is to talk to a human.</div>

<div class="instructions">
      Many sites have out of date recorded messages. If you can't get through to a person, click <b>No answer</b>.
</div>

<div class="instructions">Please keep in mind that the person you're calling is working very hard to help people and may
      be fairly stressed out. Be friendly, kind, and compassionate.</div>


<div class="yousay">
      "Hi, I’m calling to ask about getting the COVID vaccine for a person over 65."
</div>
<div class="yousay">
      "Could I please speak to the pharmacist on duty?"
</div>

<div class="instructions">If you can't reach the pharmacist, say</div>
<div class="yousay">Thank you. Have a good day</div>
<div class="instructions">then click TODO BUTTON </div>


<div class="instructions">Once you reach the right person, ask</div>
<div class="yousay">Are you currently offering COVID-19 vaccines to seniors</div>

<form id="callScriptForm">
      <div>No</div>
      <div id="noOptions" class="btn-group" role="group" >
                  <input class="btn-check" type="radio" id="noNever" name="yesNoSelect" value="No: will never be a vaccination site">
            <label class="btn btn-outline-danger" for="noNever">
                  Will never offer
            </label>

                  <input class="btn-check" type="radio" id="noPrivate" name="yesNoSelect" value="No: not open to the public">
            <label class="btn btn-outline-danger" for="noPrivate">
                  Not open to the public
            </label>

                  <input class="btn-check" type="radio" name="yesNoSelect" id="noStaffOnly" value="No: only vaccinating staff">
            <label class="btn btn-outline-danger" for="noStaffOnly">
                  Only vaccinating staff
            </label>

                  <input class="btn-check" type="radio" name="yesNoSelect" id="noHCWOnly" value="No: only vaccinating health care workers">
            <label class="btn btn-outline-danger" for="noHCWOnly">
                  Only vaccinating health care workers
            </label>
      </div>


      <div>Yes</div>
      <div id="yesOptions" class="btn-group" role="group" >
                  <input type="radio" name="yesNoSelect" value="Yes" id="yesJustYes" class="btn-check">
            <label class="btn btn-outline-success" for="yesJustYes">
                  Yes we are
            </label>
                  <input type="radio" id="yesSoon" value="Yes: coming soon" class="btn-check" name="yesNoSelect">
            <label class="btn btn-outline-success" for="yesSoon">
                  We will be soon
            </label>
      </div>



      <div class="yousay">How old do they need to be?</div>
	<div class="btn-group" role="group" >
            <input class="btn-check" type="radio" name="ageSelect" value="Yes: vaccinating 65+" id="over65">
      <label class="btn btn-outline-warning" for="over65">
            65
      </label>
            <input class="btn-check" type="radio" name="ageSelect" value="Yes: vaccinating 75+" id="over75">
      <label class="btn btn-outline-warning" for="over75">
            75
      </label>
            <input class="btn-check" type="radio" name="ageSelect" value="Yes: vaccinating 80+" id="over80">
      <label class="btn btn-outline-warning" for="over80">
            80
      </label>
            <input class="btn-check" type="radio" name="ageSelect" value="Yes: vaccinating 85+" id="over85">
      <label class="btn btn-outline-warning" for="over85">
            85
      </label>
      </div>
    </div>
      <div class="yousay">Thanks! Do they need an appointment</div>

      <div>
            <label> <input type="radio" name="appointment" value="Yes: walk-ins accepted">Walkins are welcome</label>
            <label> <input type="radio" name="appointment" value="Yes: appointment required">Appointment
                  Required</label>
            <label> <input type="radio" name="appointment" value="appointmentRequired">Appointments are required and the
                  schedule is full</label>
      </div>

      <div class="yousay">How should they make the appointment</div>
      <div>
            <label> <input type="radio" name="appointmentMethod" value="web">On the web</label>
            <label> <input type="radio" name="appointmentMethod" value="county">Through the county</label>
            <label> <input type="radio" name="appointmentMethod" value="myturn">Through myturn.ca.gov</label>
            <label> <input type="radio" name="appointmentMethod" value="phone">by phone</label>
            Phone number <input type="text" id="appointmentByPhone">
            <label> <input type="radio" name="appointmentMethod" value="other">Some other way</label>
            <textara id="otherWay">
                  </textarea>
      </div>

      <div class="yousay">Are you folks vaccinating all Californians or are there limits on who you can vaccinate</div>
      <div class="instructions">Click on any of the limitations. If they say anything that's not on the list, mention it
            in
            the public notes</div>

            <input class="btn-check" type="checkbox" id="veteransOnly"><label class="btn btn-outline-primary" for="veteransOnly">Veterans only</label>
            <input class="btn-check" type="checkbox" id="patientsOnly"><label class="btn btn-outline-primary" for="patientsOnly">Current patients only</label>
            <input class="btn-check" type="checkbox" id="countyOnly"><label class="btn btn-outline-primary" for="countyOnly">County residents only</label>
      </div>

      <div class="yousay">Can you confirm that your address is {{ locationAddress }}</div>
      <div class="instructions">If that's wrong, DO THE THING TO CORRECT IT</div>

      <div>
            <div id="callScriptPublicNotes">Public notes</div>
            <textarea
"></textarea>
      </div>

      <div>
            <div id="callScriptPrivateNotes">Private notes</div>
            <textarea
"></textarea>
      </div>
      <input type="button" id="scoobyRecordCall" value="Send report" />
</form>
