<div class=""
  ><div class="h4"
    >
    <a class="btn btn-primary text-nowrap" id="location-phone-url" href="tel:{{locationPhone}}"
	data-phone-number="{{locationPhone}}"
      ><span id="location-phone">Call {{locationPhone}}</span></a
    >
  </div>
</div>
