<div class="instructions">Call this number on your phone or click to dial if your browser supports it.</div>

<div class="phone"><a id="location-phone-url" href="tel:{{locationPhone}}"><span
            id="location-phone">{{locationPhone}}</span></a></div>
