<div class=""
  ><div class="h4"
    >Call this number:
    <a class="btn btn-primary" id="location-phone-url" href="tel:{{locationPhone}}"
	data-phone-number="{{locationPhone}}"
      ><span id="location-phone">{{locationPhone}}</span></a
    >
  </div>
</div>
