<div class="alert alert-light" role="alert">
  <h5 class="">Call this number</h5>
  <div class="phone">
    <a
      class="btn btn-primary"
      id="location-phone-url"
      href="tel:{{locationPhone}}"
      ><span id="location-phone">{{locationPhone}}</span></a
    >
  </div>
</div>
