<div>

  <input id="wrongNumber"  class="btn btn-danger" type="button" value="Wrong number" />
  <input id="permanentlyClosed"  class="btn btn-danger" type="button" value="Permanently closed" />
  <input id="closedForTheDay" class="btn btn-secondary" type="button" value="Closed for the day" />
  <input id="closedForTheWeekend" class="btn btn-secondary" type="button" value="Closed for the weekend" />
  <input id="phoneBusy" class="btn btn-secondary" value="Busy" />
  <input id="noAnswer" class="btn btn-secondary" value="No answer" />
  <input id="longHold" class="btn btn-secondary" value="On hold for more than 2 minutes" />
</div>
