          <div>

            <input
              id="closedForTheDay"
              class="rounded-full bg-green-400 text-white hover:bg-green-500 px-10 md:px-5 ml-2"
              type="button"
              value="Closed for the day" />
            
	     <input
              id="closedForTheWeekend"
              class="rounded-full bg-green-400 text-white hover:bg-green-500 px-10 md:px-5 ml-2"
              type="button"
              value="Closed for the weekend" />


            <input id="wrongNumber"
              class="rounded-full bg-green-400 text-white hover:bg-green-500 px-10 md:px-5 ml-2"
              type="button"
              value="Wrong number"
            />
            <input id="permanentlyClosed"
              class="rounded-full bg-green-400 text-white hover:bg-green-500 px-10 md:px-5 ml-2"
              type="button"
              value="Permanently closed"
            />
            <input
              id="phoneBusy"
              class="rounded-full bg-green-400 text-white hover:bg-green-500 px-10 md:px-5 ml-2"
              type="button"
              value="Busy"
            />
            <input
              id="noAnswer"
              class="rounded-full bg-green-400 text-white hover:bg-green-500 px-10 md:px-5 ml-2"
              type="button"
              value="No answer" />
            <input
              id="longHold"
              class="rounded-full bg-green-400 text-white hover:bg-green-500 px-10 md:px-5 ml-2"
              type="button"
              value="On hold for more than 2 minutes"
            />
            (these buttons should have a confirm, i think?)
            <!-- clicking them should short-circuit the whole script-->
          </div>
