<div class="">
<div class="p-2 g" role="group" >
  <input id="wrongNumber"  class="btn btn-sm btn-danger" type="button" value="Wrong number" />
  <input id="permanentlyClosed"  class="btn btn-sm btn-danger" type="button" value="Permanently closed" />
</div>
<div class="p-2 g" role="group" >
  <input id="closedForTheDay" class="btn btn-sm btn-secondary" type="button" value="Closed for the day" />
  <input id="closedForTheWeekend" class="btn btn-sm btn-secondary" type="button" value="Closed for the weekend" />
</div>
<div class="p-2 g" role="group" >
  <input id="phoneBusy" class="btn btn-sm btn-secondary" value="Busy" />
  <input id="noAnswer" class="btn btn-sm btn-secondary" value="No answer" />
</div>
<div class="p-2 g" role="group" >
  <input id="longHold" class="btn btn-sm btn-secondary" value="On hold for more than 2 minutes" />
</div>
</div>
</div>
