<div class="container-flex px-4">
  <div class="row g-2 p-2 gx-5" role="group">
    <div class="col px-2">
      <input id="wrongNumber" class="btn btn-sm btn-danger" type="button" value="Wrong number" />
    </div>
    <div class="col px-2">
      <input id="permanentlyClosed" class="btn btn-sm btn-danger" type="button" value="Permanently closed" />
    </div>
  </div>
  <div class="row g-2 p-2 gx-5" role="group">
    <div class="col px-2">
      <input
      id="closedForTheDay"
      class="btn btn-sm btn-secondary"
      type="button"
      value="Closed for the day"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Skip until tomorrow"
      />
    </div>
    
    <div class="col px-2">
      <input
        id="closedForTheWeekend"
        class="btn btn-sm btn-secondary"
        type="button"
        value="Closed for the weekend"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Skip until Monday"
      />
     </div>
  </div>
  <div class="row g-2 p-2 gx-5" role="group">
    <div class="col px-2">
    <input
      id="phoneBusy"
      class="btn btn-sm btn-secondary"
      value="Busy"
      type="button"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Skip for 15 minutes"
    />
    </div>
    <div class="col px-2">
    <input
      id="noAnswer"
      class="btn btn-sm btn-secondary"
      type="button"
      value="No answer / voicemail"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Skip for an hour"
    />
    </div>
  </div>
  <div class="row g-2 p-2 gx-5" role="group">
    <div class="col px-2">
    <input
      id="longHold"
      class="btn btn-sm btn-secondary"
      type="button"
      value="On hold for more than 2 minutes"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Call back later?"
    />
    </div>
  </div>
</div>
