<div class="container-flex px-4">
  <div class="row g-2 p-2 gx-5" role="group">
    <input id="wrongNumber" class="btn btn-sm btn-danger col" type="button" value="Wrong number" />
    <input id="permanentlyClosed" class="btn btn-sm btn-danger col" type="button" value="Permanently closed" />
  </div>
  <div class="row g-2 p-2 gx-5" role="group">
    <input id="closedForTheDay" class="btn btn-sm btn-secondary col" type="button" value="Closed for the day" />
    <input id="closedForTheWeekend" class="btn btn-sm btn-secondary col" type="button" value="Closed for the weekend" />
  </div>
  <div class="row g-2 p-2 gx-5" role="group">
    <input id="phoneBusy" class="btn btn-sm btn-secondary col" value="Busy" />
    <input id="noAnswer" class="btn btn-sm btn-secondary col" value="No answer" />
  </div>
  <div class="row g-2 p-2 gx-5" role="group">
    <input id="longHold" class="btn btn-sm btn-secondary col" value="On hold for more than 2 minutes" />
  </div>
</div>
