<div class="container-flex px-4">
  <div class="row g-2 py-2 gx-5" role="group">
    <div class="col px-2 d-grid">
      <input id="wrongNumber" class="btn btn-sm btn-danger" title="Verify the correct number was dialed" type="button" value="Wrong number" />
    </div>
    <div class="col px-2 d-grid">
      <input id="permanentlyClosed" class="btn btn-sm btn-danger" type="button" value="Permanently closed" title="Before clicking, be sure to leave a dated, internal note detailing the reason you made this selection."/>
    </div>
  </div>
  <div class="row g-2 py-2 gx-5" role="group">
    <div class="col px-2 d-grid">
      <input
        id="closedForTheDay"
        class="btn btn-sm btn-secondary"
        type="button"
        value="Closed for the day"
        title="Skip until tomorrow"
      />
    </div>

    <div class="col px-2 d-grid">
      <input
        id="closedForTheWeekend"
        class="btn btn-sm btn-secondary"
        type="button"
        value="Closed until Monday"
        title="Skip until Monday"
      />
    </div>
  </div>
  <div class="row g-2 py-2 gx-5" role="group">
    <div class="col px-2 d-grid">
      <input
        id="phoneBusy"
        class="btn btn-sm btn-secondary"
        value="Busy signal"
        type="button"
        title="Skip for 15 minutes"
      />
    </div>
    <div class="col px-2 d-grid">
      <input
        id="noAnswer"
        class="btn btn-sm btn-secondary"
        type="button"
        value="No answer / voicemail"
        title="Skip for an hour"
      />
    </div>
  </div>
  <div class="row g-2 py-2 gx-5" role="group">
    <div class="col px-2 d-grid">
      <input
        id="longHold"
        class="btn btn-sm btn-secondary"
        type="button"
        value="On hold for more than 4 minutes"
        title="You don't have to hang up immediately, but if you're stuck on hold for a long time, it's ok to do so."
      />
    </div>
  </div>
</div>
