          <div>
            <input
              class="rounded-full bg-green-400 text-white hover:bg-green-500 px-10 md:px-5 ml-2"
              type="button"
              value="Wrong number / Disconnected"
            />
            <input
              class="rounded-full bg-green-400 text-white hover:bg-green-500 px-10 md:px-5 ml-2"
              type="button"
              value="Busy"
            />
            <input
              class="rounded-full bg-green-400 text-white hover:bg-green-500 px-10 md:px-5 ml-2"
              type="button"
              value="On hold for more than 2 minutes"
            />
            (these buttons should have a confirm, i think?)
            <!-- clicking them should short-circuit the whole script-->
          </div>
