<h2>Latest report</h2>
{{latestReportTime}}

<p>{{latestReportStatus}}</p>

<h3>Public Notes</h3>
<div>{{latestReportPublicNotes}}</div>
<h3>Internal notes</h3>
<div>{{latestReportInternalNotes}}</div>
