<div class="location">
    <h1>Location</h1>

    <span id="location-name">{{locationName}}</span>

    <h2>Address</h2>

    <span id="location-address">{{locationAddress}}</span>

    <h2>Hours</h2>

    <div id="location-hours">{{locationHours}}</div>

    If it's outside those hours <input type="button" value="Skip this call for now">.
</div>