<div class="location">
    <h3 id="location-name">{{locationName}}</h3>

    <div class="label">Address</div>
    <address id="location-address">{{locationAddress}}</address>
    <a target="_blank" href="https://airtable.com/shrY44NvEjHBscrOH?prefill_Location={{locationId}}&prefill_Type=Incorrect+contact+information">Report an error</a>
    <h4 class="label">Hours</h4>

    <div id="location-hours">{{locationHours}}</div>
</div>
