<div class="location">
    <div class="label">Location</div>

    <div id="location-name">{{locationName}}</div>

    <div class="label">Address</div> 
    <span id="location-address">{{locationAddress}}</span>
    <a href="https://airtable.com/shrY44NvEjHBscrOH?prefill_Location={{locationId}}&prefill_Type=Incorrect+contact+information">Report a correction</a>
    <div class="label">Hours</div>

    <div id="location-hours">{{locationHours}}</div>


</div>
