<div class="small" id="location-hours">{{locationHours}}</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a
    target="_blank"
    class="text-muted small open-as-popup"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    title="Location, Phone #, or Hours"
    href="https://airtable.com/shrHlOvXyTkRufwoH?prefill_Location+ID={{locationId}}&prefill_Type=Incorrect+opening+hours"
    >Report an error</a
  >
</div>
