<div class="text-end navbar-text me-2" id="loggedInMessage"><div class="small">{{email}}</div>
<input type="button" id="logoutButton" value="Done Calling - Log out" class="btn btn-secondary btn-sm" />
</div>
