<h1 class="text-xl font-bold leading-tight text-gray-900">
    You've made 123 calls. 23 of them were today.</h1>
<h2>You've found 12 places with vaccines, 10 places with no vaccines and 88 places nobody ever has to call again.</h2>
<div>Inspirational message goes HERE</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">

<input type="button" id="requestCallButton" value="Make a call" class="btn btn-primary btn-lg" />
</div>
