                                <h1 class="text-xl font-bold leading-tight text-gray-900">
                                You've made 123 calls. 23 of them were today.</h1>
                                <h2>You've found 12 places with vaccines, 10 places with no vaccines and 88 places nobody ever has to call again.</h2>
                                <div>Inspirational message goes HERE</div>
                                <hr class="my-4" />
                                <input type="button" id="requestCallButton" value="Make a call" />
