<div class="alert alert-secondary" role="alert">
  Your last call was to {{ locationName }}. If you need to make a change, you
  can
  <input
    type="button"
    id="replaceReport"
    class="btn btn-outline-secondary"
    value="submit a replacement report."
  />
</div>
