<!-- Vertically centered scrollable modal -->
<div class="modal fade" id="submissionWarningModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Submission issue detected</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{#if errors}}
          The following issues requiring change were found:
          <ul class="list-group py-2">
            {{#each errors}}
              <li class="list-group-item list-group-item-danger">{{this}}</li>
            {{/each}}
          </ul>
        {{/if}}
        {{#if warnings}}
          The following warnings were found:
          <ul class="list-group py-2">
            {{#each warnings}}
              <li class="list-group-item list-group-item-warning">{{this}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
      <div class="modal-footer">
        {{#unless errors}}<button type="button" class="btn btn-secondary" id="submitReportAfterWarning">Send Report</button>{{/unless}}
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="dismissAfterWarning">Edit Report</button>
      </div>
    </div>
  </div>
</div>
