<!-- Vertically centered scrollable modal -->
<div class="modal fade" id="submissionWarningModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Submission issue detected</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        The following issues were found with your submission:
        <ul class="list-group">
          {{#each errors}}
            <li class="list-group-item list-group-item-danger">{{this}}</li>
          {{/each}}
          {{#each warnings}}
            <li class="list-group-item list-group-item-warning">{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="modal-footer">
        {{#unless hasErrors}}<button type="button" class="btn btn-secondary" id="submitReportAfterWarning">Send Report</button>{{/unless}}
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Edit Report</button>
      </div>
    </div>
  </div>
</div>
