<!-- Vertically centered scrollable modal -->
<div class="modal fade" id="submissionWarningModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Submission issue detected</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Looks like there's a phone number or email address in the public notes field. 
        Contact information and booking links are already displayed, so usually the those shouldn't be included in public notes. 
        Are you sure you want to include them?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="submitReportAfterWarning">Submit Report</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Edit Report</button>
      </div>
    </div>
  </div>
</div>
