<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false" id="onlyToast"  data-bs-backdrop="static">
  <div class="toast-header">
    <strong class="me-auto overflow-hidden">{{ title }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
	{{ body }} 
<div class="d-grid gap-2 d-md-flex p-1 justify-content-md-end">

	<button id="onlyToastButton" class="btn-sm btn btn-outline-secondary">{{ buttonLabel }}</button>	
</div>
  </div>
</div>

