<div class="location">
  <div class="" id="navbarLocationName">Calling <b>{{locationName}}</b></div>
  <address class="small" id="location-address"
    >{{locationAddress}} (<a class="text-muted" href="{{countyURL}}" target="_blank">{{countyName}}</a>)
  </address>
</div>
