<div class="modal fade" id="debugModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Debug Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 class="p-1">Source Location</h6>
        <pre style="small mh-50 text-wrap overflow-scroll">{{ sourceJson }}</pre>
        <h6 class="p-1">Candidate Location</h6>
        <pre style="small mh-50 text-wrap overflow-scroll">{{ candidateJson }}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
