<button type="button" class="js-debug mt-2 text-white btn btn-sm btn-info">Debug Info</button>
{{#if locationUrl}}
<a href="{{locationUrl}}" target="_blank" class="js-debug mt-2 btn btn-sm btn-danger">Red on VTS</a>
{{/if}} {{#if candidateUrl}}
<a href="{{candidateUrl}}" target="_blank" class="js-debug mt-2 btn btn-sm btn-primary">Blue on VTS</a>
{{/if}}
