<div id="keybindings-hint" class="text-secondary" style="font-size: 12px">
  <div>
    <code>1,m </code>Matches this one <code>2,d </code>Does not match / Try again <code>3,c </code>Create new location
  </div>
  <div><code>4,s </code>Skip this location, <code>5,r </code>Redo previous location</div>
</div>
