<div id="keybindings-hint" class="text-secondary" style="font-size: 14px">
  <div><code>1,m </code>Match top, <code>2,d </code>Dismiss top, <code>3,c </code>Create new location</div>
  <div><code>4,s </code>Skip current location, <code>5,r </code>Redo previous location</div>
</div>
