<button class="js-current-wins btn btn-danger me-4 my-2">Red wins merge</button>
<button class="js-candidate-wins btn btn-primary me-4 my-2">Blue wins merge</button>
<button class="js-close btn btn-secondary me-4 my-2">Does not match</button>
<button class="js-skip btn btn-warning my-2">Skip this location. Someone else can deal.</button>
