<div class="text-secondary" style="font-size: 12px">
  <div><code>1,r </code>Red wins, <code>2,b </code>Blue wins, <code>3,d </code>Does not match</div>
  <div><code>4,s </code>Skip this location</div>
</div>
