{{#if candidate}}
<button class="js-current-wins btn btn-danger me-4 my-2">Red wins merge</button>
<button class="js-candidate-wins btn btn-primary me-4 my-2">Blue wins merge</button>
<button class="js-close btn btn-secondary me-4 my-2">Does not match</button>
<button class="js-skip btn btn-warning my-2">Skip this location. Someone else can deal.</button>
{{else}}
<button class="js-no-merges btn btn-success me-4 my-2">Nothing to merge</button>
<button class="js-tryagain btn btn-secondary me-4 my-2">Try again, I think I messed up</button>
<button class="js-skip btn btn-warning my-2">Skip this location. Someone else can deal.</button>
{{/if}}
