<div class="container w-100 vh-100 d-flex flex-wrap align-content-center">
  <div class="row w-100">
    <div class="h3">Thank you so much for helping out.</div>
    <div class="h3 text-muted mt-1">Every action helps save lives!</div>
    <div class="d-grid gap-2 mt-6">
      <button type="button" id="requestItemButton" class="btn btn-success btn-block btn-lg">Let's get rolling!</button>
    </div>
  </div>
</div>
