<div class="container w-100 vh-100 d-flex flex-wrap align-content-center">
  <div class="row w-100">
    <div class="h3">Thank you so much for helping out. Every action helps save lives!</div>
    <div class="h3 text-muted mt-1 mb-4">How would you like to use Velma today?</div>
    <div class="d-grid gap-4 mt-6">
      <button type="button" class="js-start-matching btn btn-success btn-block btn-lg">
        Level 1: Let's get <b>matching</b>!
      </button>
      <button type="button" class="mt-2 js-start-merging btn btn-success btn-block btn-lg">
        Level 2: Let's get <b>merging</b>!
      </button>
    </div>
  </div>
</div>
