<div>
  <div id="locationCreate" class="mt-2">
    <h3>{{#if hasCandidates}}None of these look right.{{else}}We couldn't find any matching candidates{{/if}}</h3>
    <div class="spacer" style="height: 170px"></div>
    <button class="btn btn-warning" id="createLocation">Create a new location</button>
  </div>
  <div id="locationSkip" class="my-2">
    <h3>Something looks weird and I don't want to deal with it</h3>
    <button class="btn btn-danger" id="skip">Skip this location. Someone else can deal.</button>
  </div>
</div>
