<div>
  <div id="locationCreate" class="mt-2">
    <div class="row no-gutters">
      <div class="col-6">
        <h3>{{#if hasCandidates}}None of these look right.{{else}}We couldn't find any matching candidates{{/if}}</h3>
        <div class="spacer" style="height: 170px"></div>
        <input type="button" class="btn btn-warning" id="createLocation" value="Create a new location" />
      </div>
      <div class="col-6">
        <div class="map h-100"></div>
      </div>
    </div>
  </div>
  <div id="locationSkip" class="my-2">
    <h3>Something looks weird and I don't want to deal with it</h3>
    <input type="button" class="btn btn-danger" id="skip" value="Skip this location. Someone else can deal." />
  </div>
</div>
