<div>
  <div id="locationCreate" class="py-3">
    <h5>{{#if hasCandidates}}All potential matches declined{{else}}We couldn't find any matching candidates{{/if}}</h5>
    <div class="d-flex justify-content-center">
      <button class="btn btn-warning my-2 me-4" id="createLocation">Create a new location</button>
      {{#if hasCandidates}}<button class="btn btn-primary my-2" id="tryAgain">I messed up, try again</button>{{/if}}
    </div>
  </div>
</div>
